@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Robota:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@font-face {
  font-family: "gotham_blackregular";
  src: url("../../fonts/gotham_black_regular-webfont.woff2") format("woff2"), url("../../fonts/gotham_black_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
}

footer {
  background-color: #eee;
}

.footer__container {
  height: 219px;
  max-width: 725px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .footer__container {
    width: 90%;
    height: 500px;
  }
}

.footer__menu {
  padding: 70px 0 0 0;
  font-family: "Roboto", sans-serif;
}

.footer__menu__item {
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  font-size: 13px;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .footer__menu__item {
    display: block;
    margin-bottom: 10px;
    line-height: 30px;
    text-align: center;
  }
}

.footer__nubmer {
  font-size: 23px;
  font-family: "Roboto", sans-serif;
  margin-top: 29px;
}

.number-item {
  width: 300px;
  text-align: center;
  margin: 0 auto;
  padding: 0 0 0 5px;
  position: relative;
  margin-bottom: 24px;
}
.number-item::before {
  content: "";
  background-image: url("../../img/phone.png");
  background-size: 16px 17px;
  height: 20px;
  width: 36px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: 0px 3px;
  left: 56px;
}

.footer__icon__item {
  width: 104px;
  height: 16px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .footer__icon__item {
    padding-top: 40px;
  }
}

.header__menu__item {
  padding: 30px 0;
  display: flex;
  flex: 0 0 800px;
}
@media (max-width: 768px) {
  .header__menu__item {
    width: 100%;
    padding: 30px 0px;
    font-size: 12px;
    justify-content: stretch;
  }
}

.header__menu__item li {
  max-width: 145px;
  height: 34px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Roboto", sans-serif;
  padding: 10px 10px;
  margin: 0 0 0 0px;
}
.header__menu__item li:hover {
  background-color: orange;
  color: white;
  border-radius: 5px;
}

.header__container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 768px) {
  .header__container {
    width: 100%;
    padding: 0 10px;
    margin: 0;
    justify-content: stretch;
  }
}

.header__menu {
  flex: 1 1 100px;
  margin: 0 0 0 392px;
}
@media (max-width: 768px) {
  .header__menu {
    margin: 0 0 0 92px;
    width: 50%;
  }
}
@media (max-width: 750px) {
  .header__menu {
    margin: 0 0 0 52px;
  }
}
@media (max-width: 715px) {
  .header__menu {
    margin: 0 0 0 122px;
  }
}
@media (max-width: 600px) {
  .header__menu {
    margin: 0 0 0 52px;
  }
}
@media (max-width: 1117px) {
  .header__menu {
    margin: 0 0 0 202px;
  }
}
@media (max-width: 968px) {
  .header__menu {
    margin: 0 0 0 102px;
  }
}

.header__logo {
  padding: 22px 0 23px 0;
  margin: 0 0px 0 0px;
}
@media (max-width: 768px) {
  .header__logo {
    margin-left: 10px;
  }
}
@media (max-width: 1200px) {
  .header__logo {
    margin-left: 10px;
  }
}

@media (max-width: 600px) {
  .header__menu__item__li {
    display: none;
  }
}

@media (max-width: 715px) {
  .happy__clients {
    display: none;
  }
}

@media (max-width: 830px) {
  #contact {
    display: none;
  }
}

.laptop {
  background-image: url("../../img/bg-laptop.jpg");
  max-height: 750px;
  background-size: 100% 600px;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .laptop {
    max-height: 950px;
  }
}
@media (max-width: 600px) {
  .laptop {
    background-size: 100% 100%;
  }
}
@media (max-width: 1100px) {
  .laptop {
    max-height: 950px;
    background-size: 100% 90%;
  }
}

.laptop__container {
  max-width: 1085px;
  margin: 0 auto;
  height: 100%;
  color: white;
}

.laptop__title {
  font-family: "gotham_blackregular";
  font-size: 35px;
  text-align: center;
  padding: 110px 0 0px 0;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 3px;
}
@media (max-width: 768px) {
  .laptop__title {
    margin-bottom: 10px;
  }
}
@media (max-width: 600px) {
  .laptop__title {
    line-height: 34px;
    padding: 70px 0 0px 0;
  }
}

.laptop__subtitle {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  line-height: 24px;
}
@media (max-width: 600px) {
  .laptop__subtitle {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
  }
}

.laptop__form form {
  margin: 33px 0 0 0;
}
@media (max-width: 600px) {
  .laptop__form form {
    padding-bottom: 100px;
  }
}
.laptop__form form input {
  color: grey;
  margin-right: 5px;
  font-size: 13px;
  max-width: 281px;
  font-family: "Open Sans";
}
@media (max-width: 768px) {
  .laptop__form form input {
    min-width: 80%;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
  }
}
@media (max-width: 1100px) {
  .laptop__form form input {
    min-width: 90%;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
  }
}
.laptop__form form button {
  background-color: #ffbb42;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Open Sans";
  color: white;
  padding: 17px 40px;
  border-radius: 3px;
}
@media (max-width: 768px) {
  .laptop__form form button {
    min-width: 80%;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
  }
}
@media (max-width: 1100px) {
  .laptop__form form button {
    min-width: 90%;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
  }
}

.laptop__form__input__1 {
  padding: 18px 15px;
  background-image: url("../../img/input-1.png");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 15px center;
  padding-left: 41px;
  border-radius: 3px;
  width: 281px;
}

.laptop__form__input__2 {
  padding: 18px 15px;
  background-image: url("../../img/input-2.png");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 15px center;
  padding-left: 41px;
  border-radius: 3px;
  width: 281px;
}

.laptop__form__input__3 {
  padding: 18px 15px;
  background-image: url("../../img/input-3.png");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 15px center;
  padding-left: 41px;
  border-radius: 3px;
  width: 281px;
}

.laptop__image {
  width: 647px;
  height: 343px;
  background-image: url("../../img/laptop.png");
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  margin-top: 67px;
}
@media (max-width: 600px) {
  .laptop__image {
    display: none;
  }
}

.laptop__image__wallpaper {
  width: 445px;
  height: 264px;
  margin: 0 auto;
  background-image: url("../../img/laptop-image.png");
  background-repeat: no-repeat;
  background-position: center 18px;
}
@media (max-width: 600px) {
  .laptop__image__wallpaper {
    display: none;
  }
}

.laptop__cyrcle {
  width: 56px;
  height: 11px;
  margin: 24px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 600px) {
  .laptop__cyrcle {
    display: none;
  }
}

.laptop__cyrcle_1, .laptop__cyrcle_3, .laptop__cyrcle_2 {
  width: 12px;
  height: 11px;
  border-radius: 50%;
  border: 2px solid #1ca8dd;
}
.laptop__cyrcle_2 {
  border: 2px solid #dedfe0;
}

.laptop__cyrcle_3 {
  border: 2px solid #dedfe0;
}

.services {
  min-height: 800px;
}
@media (max-width: 768px) {
  .services {
    min-height: 1300px;
  }
}

.services__container {
  height: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .services__container {
    max-width: 80%;
  }
}
@media (max-width: 1200px) {
  .services__container {
    max-width: 80%;
  }
}

.services__container__wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -54px;
}
@media (max-width: 600px) {
  .services__container__wrap {
    margin: 0;
  }
}

.services__title {
  margin: 0 auto;
  font-size: 30px;
  font-family: "gotham_blackregular";
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  margin-top: 105px;
}

.services__subtitle {
  font-size: 16px;
  font-family: "Open Sans";
  text-align: center;
  margin: 5px 0 0 0;
}
@media (max-width: 768px) {
  .services__subtitle {
    margin-bottom: 70px;
  }
}
@media (max-width: 600px) {
  .services__subtitle {
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 200px;
  }
}

.services__block {
  flex: 0 1 50%;
  height: 90px;
  margin-top: 91px;
  padding: 0 54px;
  max-width: 1170px;
}
@media (max-width: 768px) {
  .services__block {
    max-width: 80%;
    flex: 0 1 100%;
    margin: 0 auto;
    height: 130px;
    margin-top: 51px;
  }
}
@media (max-width: 600px) {
  .services__block {
    height: 430px;
    display: block;
    padding: 0;
    margin-top: 0;
    width: 100%;
  }
}

.block-item {
  display: flex;
}

.icon-block img {
  width: 43px;
  height: 44px;
  margin: 0 38px 0 0;
}
@media (max-width: 600px) {
  .icon-block {
    display: none;
  }
}

.content-block {
  height: 100%;
}

.title-block {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 700;
}

.subtitle-block {
  margin: 21px 0 0 0;
  font-family: "Open Sans";
  font-size: 13px;
  line-height: 22px;
}

.icon-block .block_6 {
  height: 51px;
  width: 27px;
  margin-right: 51px;
}
.icon-block .block_6 img {
  height: 51px;
  width: 27px;
}

.icon-block .block_3 {
  height: 40px;
  width: 58px;
  margin-right: 20px;
}
.icon-block .block_3 img {
  height: 40px;
  width: 58px;
}

.about-us {
  background-color: #ffc155;
  min-height: 623px;
}
@media (max-width: 768px) {
  .about-us {
    min-height: 623px;
  }
}

.about-us__container {
  display: flex;
  margin: 0 auto;
  height: 100%;
}
@media (max-width: 768px) {
  .about-us__container {
    flex-wrap: wrap;
  }
}

.about-us__image {
  flex: 0 1 50%;
  min-height: 623px;
  background-image: url("../../img/about-us.jpg");
  background-position: center;
  background-size: 100% 100%;
}
@media (max-width: 768px) {
  .about-us__image {
    flex: 0 1 100%;
    min-height: 623px;
    background-repeat: no-repeat;
  }
}
@media (max-width: 600px) {
  .about-us__image {
    min-height: 423px;
  }
}

.about-us__content {
  flex: 0 1 50%;
}
@media (max-width: 768px) {
  .about-us__content {
    flex: 0 1 100%;
  }
}
@media (max-width: 600px) {
  .about-us__content {
    height: 500px;
  }
}

.about-us__content__container {
  color: white;
  padding: 164px 0 0 81px;
}
@media (max-width: 768px) {
  .about-us__content__container {
    padding: 80px;
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  .about-us__content__container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
}

.about-us__content__title {
  text-transform: uppercase;
  font-family: "gotham_blackregular";
  font-size: 30px;
}
@media (max-width: 600px) {
  .about-us__content__title {
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
  }
}

.about-us__content__subtitle {
  line-height: 24px;
  font-family: "Open Sans";
  font-size: 13px;
  width: 505px;
  height: 157px;
  padding: 28px 0 33px 0;
}
@media (max-width: 600px) {
  .about-us__content__subtitle {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    margin-top: 10px;
  }
}
@media (max-width: 1200px) {
  .about-us__content__subtitle {
    max-width: 90%;
    margin-bottom: 30px;
  }
}

.about-us__content__button {
  text-transform: uppercase;
  font-family: "Lato";
  color: white;
  font-size: 14px;
  display: inline-block;
  margin: 64px 0 0 0;
  padding: 20px 35px;
  border: 1px solid #e7ad48;
}
@media (max-width: 768px) {
  .about-us__content__button {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    top: 30px;
  }
}
@media (max-width: 500px) {
  .about-us__content__button {
    top: 70px;
  }
}

.price {
  background-color: #e7edf3;
  height: 900px;
}
@media (max-width: 768px) {
  .price {
    height: 1600px;
  }
}
@media (max-width: 1000px) {
  .price {
    height: 1600px;
  }
}
@media (max-width: 600px) {
  .price {
    background-color: #fff;
  }
}

.price__title {
  margin: 0 auto;
  font-family: "gotham_blackregular";
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  letter-spacing: -0.75px;
  padding-top: 137px;
}

.price__subtitle {
  font-family: "Lato";
  font-size: 18px;
  text-align: center;
  font-weight: 300;
}

.price__container {
  width: 1170px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .price__container {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .price__container {
    max-width: 80%;
  }
}
@media (max-width: 1100px) {
  .price__container {
    max-width: 100%;
    margin: 0;
  }
}
@media (max-width: 1000px) {
  .price__container {
    width: 100%;
  }
}

.price__wrapper {
  margin-top: 79px;
  display: flex;
  font-family: "Lato";
  text-transform: uppercase;
  height: 501px;
  align-items: center;
}
@media (max-width: 768px) {
  .price__wrapper {
    flex-wrap: wrap;
  }
}
@media (max-width: 1000px) {
  .price__wrapper {
    flex-wrap: wrap;
  }
}

.price__block {
  flex: 0 1 33.333%;
  background-color: #fff;
  height: 441px;
}
@media (max-width: 768px) {
  .price__block {
    flex: 0 1 100%;
  }
}
@media (max-width: 1000px) {
  .price__block {
    flex: 0 1 100%;
  }
}

.price-block-container {
  margin: 0 auto;
  text-align: center;
}

.price-block-name {
  font-size: 25px;
  line-height: 22px;
  font-weight: 300;
  margin: 57px 0 0 0;
}

.price-block-price {
  color: #ffbb42;
  font-weight: 700;
  font-size: 60px;
  margin: 20px 0 0 0;
}
.price-block-price sup {
  font-size: 30px;
}

.price-block-perid {
  font-size: 16px;
  font-weight: 300;
}

.price-block-advantages {
  font-size: 14px;
  margin: 33px auto;
}

.price-block-advantages-names {
  text-align: center;
  line-height: 40px;
  color: #b5bbc1;
  border-top: 1px solid #e2e9f0;
  width: 329px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .price-block-advantages-names {
    border: none;
  }
}
@media (max-width: 1000px) {
  .price-block-advantages-names {
    border: none;
  }
}

a.price__button_22 {
  color: #fff;
  background-color: #ffbb42;
  text-align: center;
  padding: 15px;
  display: inline-block;
  margin: 0 0 48px 0;
}

.price__block__1 {
  border-top: 1px solid #ccd5df;
  border-left: 1px solid #ccd5df;
  border-bottom: 1px solid #ccd5df;
}
@media (max-width: 768px) {
  .price__block__1 {
    border: none;
  }
}
@media (max-width: 1000px) {
  .price__block__1 {
    border: none;
  }
}

.price__block__3 {
  border-top: 1px solid #ccd5df;
  border-right: 1px solid #ccd5df;
  border-bottom: 1px solid #ccd5df;
}
@media (max-width: 768px) {
  .price__block__3 {
    border: none;
  }
}
@media (max-width: 1000px) {
  .price__block__3 {
    border: none;
  }
}

.price__block__2 {
  background-color: #709dca;
  height: 100%;
  color: white;
}

.price-block-advantages__2, .advantages-names__2, .price-block-advantages-names__2, .price-block-price__2 {
  color: white;
}

.how {
  height: 860px;
}
@media (max-width: 600px) {
  .how {
    display: none;
  }
}
@media (max-width: 768px) {
  .how {
    display: none;
  }
}

.how__title {
  font-family: "gotham_blackregular";
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  padding: 155px 0 0 0;
}
@media (max-width: 768px) {
  .how__title {
    margin-bottom: 20px;
  }
}

.how__subtitle {
  font-family: "Lato";
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  margin: 0 0 80px 0;
}

.how__container {
  width: 1110px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .how__container {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .how__container {
    max-width: 100%;
  }
}

.how__image__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 130px;
  width: 945px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .how__image__wrapper {
    width: 100%;
  }
}
@media (max-width: 1000px) {
  .how__image__wrapper {
    width: 85%;
  }
}
.how__image__wrapper img {
  display: block;
  height: 57px;
}

.how-image-item_2 {
  align-self: flex-start;
}

.how-image-item_4 {
  align-self: flex-end;
}

.how-image-item_6 {
  align-self: flex-start;
}

.how__content_wrapper {
  height: 100px;
  display: flex;
  justify-content: space-around;
  margin: 70px 0 0 0;
}

.how__content__block__1 {
  flex: 0 1 213px;
}
@media (max-width: 768px) {
  .how__content__block__1 {
    flex: 0 1 303px;
  }
}

.how__content__block__title {
  text-align: center;
  text-transform: uppercase;
  font-family: "Lato";
  font-weight: 700;
  font-size: 20px;
  margin: 0 0 28px 0;
}

.how__content__block__subtitle {
  text-align: center;
  font-family: "Open Sans";
  font-size: 13px;
  line-height: 22px;
}

.how__content__block__2 {
  flex: 0 1 213px;
}

.how__content__block__3 {
  flex: 0 1 213px;
}

.how__content__block__4 {
  flex: 0 1 213px;
}

.how__button {
  display: block;
  width: 165px;
  height: 46px;
  text-align: center;
  margin: 0 auto;
  margin-top: 91px;
  text-transform: uppercase;
  color: white;
  font-family: "Lato";
  font-size: 14px;
  background-color: #ffbb42;
  padding: 17px 20px;
}

.comments {
  height: 908px;
  background-color: #ffc155;
}
@media (max-width: 768px) {
  .comments {
    height: 1400px;
  }
}
@media (max-width: 600px) {
  .comments {
    display: none;
  }
}
@media (max-width: 1200px) {
  .comments {
    height: 1400px;
  }
}

.comments__title {
  font-size: 30px;
  text-transform: uppercase;
  font-family: "gotham_blackregular";
  font-weight: bold;
  text-align: center;
  color: white;
  padding: 141px 0 0 0;
}

.comments__subtitle {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: white;
  padding: 0 0 58px 0;
}

.comments__container {
  width: 1170px;
  height: 502px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .comments__container {
    width: 100%;
    margin: 0;
  }
}
@media (max-width: 600px) {
  .comments__container {
    width: 80%;
    margin: 0 auto;
  }
}
@media (max-width: 1200px) {
  .comments__container {
    width: 100%;
    margin: 0;
  }
}

.comments__wrapper {
  display: flex;
  margin: 0 -18px;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .comments__wrapper {
    margin: 0;
    display: block;
  }
}
@media (max-width: 600px) {
  .comments__wrapper {
    width: 80%;
    margin: 0 auto;
  }
}
@media (max-width: 1200px) {
  .comments__wrapper {
    width: 80%;
    margin: 0 auto;
  }
}

.comments__block {
  flex: 0 1 50%;
  padding: 0 18px;
  height: 241px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .comments__block {
    flex: 0 1 100%;
  }
}
@media (max-width: 600px) {
  .comments__block {
    width: 80%;
    margin: 0 auto;
    padding: 0;
  }
}
@media (max-width: 1200px) {
  .comments__block {
    flex: 0 1 100%;
  }
}

.comments__block-item {
  background-color: #fff;
  display: flex;
  height: 241px;
  justify-content: space-around;
}
@media (max-width: 768px) {
  .comments__block-item {
    background-color: white;
  }
}
@media (max-width: 600px) {
  .comments__block-item {
    width: 80%;
    margin: 0 auto;
    display: block;
  }
}
@media (max-width: 1200px) {
  .comments__block-item {
    background-color: white;
  }
}

.comments__image {
  width: 121px;
  height: 121px;
  padding: 43px 0 30px 0;
}
@media (max-width: 600px) {
  .comments__image {
    display: none;
  }
}

.comments__image-item {
  width: 121px;
  height: 121px;
  background-image: url("../../img/avatar_1.png");
  border-radius: 50%;
  background-position: center;
}

.comments__content {
  height: 100%;
  position: relative;
}
@media (max-width: 600px) {
  .comments__content {
    width: 80%;
    margin: 0 auto;
  }
}

.comments__text {
  width: 374px;
  height: 108px;
  padding: 41px 41px 0 0;
  font-family: "Open Sans";
  font-size: 13px;
  line-height: 22px;
  color: #7b7b7b;
}

.comments__author {
  padding: 90px 0 0 0;
  font-size: 14px;
  font-family: "Lato";
  text-transform: uppercase;
  color: #99a9ae;
}
.comments__author span {
  color: #f6772c;
}

.comments__image-item__4 {
  background-image: url("../../img/avatar_4.png");
}

.comments__image-item__3 {
  background-image: url("../../img/avatar_3.png");
}

.comments__image-item__2 {
  background-image: url("../../img/avatar_2.png");
}

.quot-top {
  position: absolute;
  top: 35px;
  left: -17px;
  width: 11px;
  height: 9px;
}

.quot-bottom {
  position: absolute;
  width: 11px;
  height: 9px;
  top: 144px;
  left: 145px;
}

.email-form__wrapper {
  width: 1170px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .email-form__wrapper {
    width: 90%;
    margin: 0 auto;
  }
}
@media (max-width: 1200px) {
  .email-form__wrapper {
    width: 90%;
    margin: 0 auto;
  }
}

.email-form__title {
  font-family: "gotham_blackregular";
  font-size: 30px;
  letter-spacing: -0.75px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 154px;
}

.email-form__subtitle {
  text-align: center;
  margin: 0 auto;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 22px;
  margin: 0 0 38px 0;
}

.email-form__form__container {
  width: 917px;
  margin: 0 auto;
  margin-bottom: 53px;
}
@media (max-width: 768px) {
  .email-form__form__container {
    width: 90%;
  }
}
@media (max-width: 1200px) {
  .email-form__form__container {
    width: 90%;
  }
}

.email-form__form {
  display: flex;
}
@media (max-width: 768px) {
  .email-form__form {
    display: block;
  }
}

.email-form__input {
  border: 1px solid #cbcbcb;
  background-image: url("../../img/input-1.png");
  background-repeat: no-repeat;
  background-size: 16px 17px;
  padding: 10px 40px;
  font-size: 13px;
  font-family: "Open Sans";
  border-radius: 5px;
  background-position: 13px center;
  margin-right: 10px;
}
@media (max-width: 768px) {
  .email-form__input {
    display: block;
    margin-bottom: 10px;
  }
}

.input__emil__1 {
  width: 308px;
}
@media (max-width: 768px) {
  .input__emil__1 {
    width: 100%;
  }
}

.input__emil__2 {
  width: 388px;
}
@media (max-width: 768px) {
  .input__emil__2 {
    width: 100%;
  }
}

.email-form__button {
  display: block;
  font-size: 14px;
  font-family: "Lato";
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  width: 218px;
  background-color: #ffbb42;
  padding-top: 14px;
}
@media (max-width: 768px) {
  .email-form__button {
    width: 100%;
    padding: 10px 10px;
  }
}

.email-form__map {
  width: 1102px;
  height: 549px;
  margin: 0 auto;
  background-image: url("../../img/map.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  margin-bottom: 57px;
}
@media (max-width: 768px) {
  .email-form__map {
    width: 90%;
  }
}
@media (max-width: 1200px) {
  .email-form__map {
    width: 90%;
  }
}

.email-form__content {
  width: 279px;
  height: 292px;
  margin: 0 auto;
  background-image: url("../../img/circyle.png");
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  top: 38px;
}
@media (max-width: 768px) {
  .email-form__content {
    top: 50%;
    transform: translate(0, -50%);
  }
}
@media (max-width: 500px) {
  .email-form__content {
    height: 192px;
    width: 179px;
    border-radius: 50%;
  }
}

.email-form__content-item {
  width: 142px;
  height: 138px;
  text-align: center;
  margin: 0 auto;
  padding-top: 65px;
  line-height: 22px;
  color: #aeb7ba;
}
.email-form__content-item span {
  color: #ffbb42;
}
@media (max-width: 500px) {
  .email-form__content-item {
    height: 192px;
    width: 179px;
    border-radius: 50%;
    padding-top: 30px;
  }
}

.email-form__content__title {
  text-align: center;
  font-size: 15px;
  font-family: "Lato";
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: white;
}
@media (max-width: 500px) {
  .email-form__content__title {
    font-size: 12px;
  }
}

.email-form__content__text {
  text-align: center;
  width: 142px;
  font-family: "Open Sans";
  font-size: 13px;
}
@media (max-width: 500px) {
  .email-form__content__text {
    font-size: 10px;
    margin: 0 auto;
  }
}

.email-form__bottom__line {
  height: 1px;
  background: black;
}/*# sourceMappingURL=style.css.map */